.pokemon{
   padding: 4px;
    margin-top: 2rem;
    flex-basis:20%;
    height: 200px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border:1px solid black;
}
 .pokemon-image{
    height:150px;
    max-height: 80%;
    max-width:100%;
    margin-top: 1rem;
    
    
    
 }
 .pokemon-name{
    font-size: larger;
    letter-spacing: 0.3rem;
    text-align: center;
   
 }
 .pokemon:hover{
    
    background-color: beige;
 }